@import "tailwindcss";

@theme {
  --color-brand: rgb(20, 35, 152);
  --color-brand-light: rgb(46, 64, 196);
  --color-brand-50: rgba(20, 35, 152, 0.05);
  --color-nav-bg: #dff7e5;
  --color-text-main: #263238;
}

:root {
  --primary: rgb(20, 35, 152);
  --primary-light: rgb(46, 64, 196);
  --nav-bg: #dff7e5;

  --bg: #ffffff;
  --text-main: #263238;
  --muted: #6b7280;
  --accent: #f59e0b;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-main);
}